$black: #100d1a;
$white: white;

$colors: (
  'node_1': #c73f96,
  'node_2': #25b68d,
  'node_3': #e31954,
  'node_4': #f16934,
  'node_5': #dfac00,
  'node_6': #3553fd
);

/* Bold */
@font-face {
  font-family: 'SF Display';
  font-weight: 600;
  src: url('https://sf.abarba.me/SF-UI-Display-Bold.otf');
}

/* Regular */
@font-face {
  font-family: 'SF Display';
  font-weight: 400;
  src: url('https://sf.abarba.me/SF-UI-Display-Regular.otf');
}

body {
  background-color: $black;
  color: $white;
  font-family: 'SF Display';
  font-weight: bold;
  margin: 0;
  padding: 0;
  line-height: 1.2;
}
